<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Changer mot de passe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header class="header">
    <div class="logo-container">
        <img src="{{ url_for('static', filename='logo.png') }}" class="logo" alt="logo">
    </div>
    <div style="padding-right:20px;">
        <a href="{{ url_for('dashboard') }}" class="login-btn">Dashboard</a>
        <a href="{{ url_for('logout') }}" class="login-btn">Se déconnecter</a>
    </div>
</header>

<main class="content">
    <div class="login-box">
        <h2>Changer le mot de passe</h2>
        <form method="POST">
            <input type="password" name="old_password" placeholder="Ancien mot de passe" required>
            <input type="password" name="new_password" placeholder="Nouveau mot de passe" required>
            <button type="submit">Valider</button>
        </form>
    </div>
</main>
</body>
</html>
