<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ctrl+Alt+ReVendre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Ctrl+Alt+ReVendre" class="logo">
        </div>
        <div class="login-container">
            {% if session.get('user') %}
            <a href="{{ url_for('chat') }}" class="login-btn">Chat</a>
            <a href="{{ url_for('logout') }}" class="login-btn">Se déconnecter</a>
            {% else %}
            <a href="{{ url_for('login') }}" class="login-btn">Se connecter</a>
            <a href="{{ url_for('register') }}" class="login-btn">S'inscrire</a>
            {% endif %}
        </div>

    </header>

    <main class="content">
        <h2 style="padding:20px; color:#e0f7e9">Bienvenue sur Ctrl+Alt+ReVendre</h2>
        <p>Suivi de mes vieux ordinateurs remis à neuf 🚀</p>
        {% if not session.user %}
            <p>Connectez-vous ou inscrivez-vous pour chatter avec nous et suivre vos commandes.</p>
        {% endif %}
    </main>
</body>
</html>
